# Dependencias
node_modules/
client/node_modules/
server/node_modules/

# Variables de entorno
.env
client/.env
server/.env
.env.local
.env.production

# Build
client/dist/
server/dist/

# Sistema
.DS_Store
Thumbs.db

# Logs
npm-debug.log*